
@{
    ViewBag.Title = "TechnicalInterviews";
}

<h2>Technical Interviews</h2>

<h3>Questions for Q&A</h3>

<ol>
    <li>
        What is the differnce between a class and an object?
    </li>
    <li>
        What is the differnce between a virtual method and an abstract method?
    </li>
    <li>
        What is sealed class?
    </li>
</ol>

